.timeLine li h4{
	width: 60%;
}
.timeLine li:nth-child(2n+2) h4:after{
	left: 10px;
	top: 20px;
}
.timeLine li:nth-child(2n+3) h4:after{
	right: 10px;
	top: 20px;
}
.timeLine li:nth-child(2n+2) p:before{
	border-width: 10px 20px;
  border-color: transparent transparent transparent #cfe0f5;
}
.timeLine li:nth-child(2n+3) p:before{
	border-width: 10px 20px;
  border-color: transparent #cfe0f5 transparent transparent;
}
.timeLine li:nth-child(2n+2) p{
	padding: 10px 5px;
  background: #cfe0f5;
}
.timeLine li:nth-child(2n+3) p{
	padding: 10px 5px;
  background: #cfe0f5;
}
.skillTree li:nth-child(2n+2) h4{
  font-size: 2.5rem;
}
.skillTree li:nth-child(2n+3) h4{
  font-size: 2.5rem;
}

.resume .menu li:hover, .resume .menu .active{
  background: #4676b2;
}

.resume .menu{
  background: #ccdbf1;
}
.profile .content h3{
  background: #337ab7;
}
.profile .content h3:after{
  background: #2e6da4;
}
.msg-class{
  margin-top: 12px;
  display: inline-block;
  width: 95%;
}
.social .box{
  vertical-align: middle;
}
.portfolio .filter{
  background: #ccdbf1;
}

.portfolio .filter li:hover, .portfolio .filter .active{
  background: #4676b2;
}
.share .description{
  background: #ccdbf1;
}

.works .part2 h5, .works li:hover .part2 h5{
  border-radius: 10px;
}

.blog h3{
  background: #337ab7;
}
.blog h3:after{
  background: #2e6da4;
}